body {
    padding-top: 70px;
}

th {
    cursor: pointer;
    outline: none;
}

/*  , #myTable_filter*/
#myTable_info, #myTable_paginate,   #myTable_length, .dataTables_filter {   
    display:none;
}


/*  = = = = =  Barre de navigation orange = = = = = */
.navbar {
        background-color: #FF8900;
        border:none;  /*  sinon Bootstrap en impose une par défaut */
        height:7.8%;
}

.navbar-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-weight: bold;
    flex-wrap: wrap;
    /*border: 2px solid lightblue*/
}

/* - - -  icône hamburger - - - */
.fa-bars {
    margin-right: 1.3rem;
}

/*  - - -  1° div : logo Octo store - - - */
.navbar-brand {
    width: 12%;
    height: 100%;
    font-style: italic;
    display: flex;
    align-items: center;
}

.navbar-brand:active, .navbar-brand:focus {
    outline: none;
}

/*  2° div : navigation */
.nav {
    height: 100%;
}

.navbar-nav {
}

.navbar-nav li {
   height: 100%;
}

.navbar-nav li a {
    height:100%;
    display: flex;
    align-items: center;  /* aligne les items du menu avec le .navbar-brand et permet au hover de prendre toute la hauteur de .navbar-header */
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
    background-color: #FB7800;
    outline: none;
}

/* - - -  3eme div  help & account - - - */
.right-header {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#FFBE6E;
}

/*  - - - icône help - - - */
.right-header i {
        font-size: 3.5rem;
        cursor: pointer;
}

.user-ico {
    margin-left: 2rem;
    cursor: pointer;
}

/*  fond gris clair*/
.bckgrnd-title {
   background-color: #F2F2F2 ;
    position: fixed;
    top:0;
    right: 0;
    width: 9999px;
    height: 17%;
    color: #3E4A5B;
}

/* - - -  Titre Utilisateurs- - -  */
.main-title {
display: flex;
height: 20%;
width: 100%;
color:#394557;
justify-content: space-between;
align-items: center;
}

.buttons {

}


.btn {
        font-weight: bold;
        border-radius: 4px;
        border: none;
        outline: none  !important;
        margin-right: 1.5rem;
}

.btn-default {
    width: 150px;
    background-color: #666666;
}

.btn-success {
    background-color: #51CB52;
    box-shadow: -4px 4px 4px #888888;
}

/* = = = = =  détails = = = = = */

/*  green check*/
.fa-check {
    color:#51CB52;
    margin-left: 1.5rem;
}

/* - - -  icône loupe - - - */
.fa-search {
    color:#A2A2A2;
    margin-right: 3rem;
}

/* - - -  Rechercher un utilisateur - - - */
small {
color: #A2A2A2;
font-size: small;
}


/*   chevron sur le header des colonnes du tableau*/
.material-icons {
    font-size: 18px;
    vertical-align: middle;
}



/*  = = = = =  quelques ajustements responsive = = = = = */

@media(min-width:769px) and (max-width:1600px){
    .navbar-brand {
        width:23%;
    } 
    .right-header, .bckgrnd-title {
            display:none;
    }
}


@media(min-width:392px) and (max-width:768px) {
    .nav, .right-header, .bckgrnd-title {
        display:none;
    }

    .navbar-brand {
        width:40%;
    }
}


@media(max-width:391px) {
    .nav, .right-header {
        display:none;
    }

    .navbar-brand {
        width:100%;
    }
}